/* Resetting default values in the browser for a more consistent styling */

* {
    margin: 0;
    padding: 0;
    border-style: none;
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    text-overflow: ellipsis;
    text-shadow: none;
    text-indent: 0;
    background-color: transparent;
}

/* Basic theme styling */

:root {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    --bg: hsl(210, 67%, 20%);
    --bg-nav: hsl(214, 78%, 30%);
    --transition-speed: 300ms;
    --link-hue: 105;
    --link-saturation: 80%;
    --link-brightness: 40%;
}

strong, b {
    font-weight: 800;
}

h1 {
    font-size: 3em;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
    font-variant: small-caps;
}

a {
    font-weight: 600;
    color: hsl(var(--link-hue), var(--link-saturation), var(--link-brightness));
    transition: all var(--transition-speed) ease;
}

a:hover {
    --link-brightness: 60%;
    --link-saturation: 100%;
    /* filter: brightness(120%); */
}

/* 
    Webbläsaren begränsar styling av besökta länkar av säkerhetsskäl.
    Läs mer: https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector
 */
/* 
a:visited {
    --link-hue: 120deg;
} 
 */

/* 
nav li a {
    transition: none;
}
 */

em {
    font-style: italic;
}

span {
    display: inline-block;
}

/* Top banner */

#disclaimer-banner {
    --font-size: 1.2rem;
    position: absolute;
    display: flex;
    width: 100%;
    padding: calc(var(--font-size)*0.75) var(--font-size);
    justify-content: center;
    align-items: center;
    background-color: #fb4;
    font-size: var(--font-size);
}

#disclaimer-banner .icon {
    height: calc(var(--font-size)*2);
    width: calc(var(--font-size)*2);
    margin-top: calc(var(--font-size)*0.33);
    margin-right: calc(var(--font-size)*0.5);
    float: left;
}

#disclaimer-banner a {
    --link-hue: 0;
}
