@use 'reset';
@use 'theme' as *;
@use 'mixins-general';
@use 'baseline';

body {
    font-family: $fontstack;
}

#disclaimer-banner {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 1rem 1.2rem;
    justify-content: center;
    align-items: center;
    background-color: #fb4;

    * {
        font-size: 1.2rem;
    }

    .l-icon {
        height: 2.4rem;
        width: 2.4rem;
        margin-top: 0.4rem;
        margin-right: 0.5rem;
        float: left;
    }

    a {
        color: #700;
        &:hover { color: #c00;}
        &:visited { color: #705;}
    }
}
